* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.menuBackground {
    position: absolute;
    width: 1920px;
    height: 66px;

    background: #26A02B;
    border-radius: 3.09511px;

    z-index: -1;
}

.mh {
    margin: 0 275px 0 275px;
    display: flex;
    justify-content: space-between;

    z-index: 1;
}

.homepage {
    margin-top: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
}

.popular {
    margin-top: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
}

.home0 {
    margin-top: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
}

.home1 {
    margin-top: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
}

.home2 {
    margin-top: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
}

.home3 {
    margin-top: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
}

.photo {
    margin-top: 55px;

    width: 310px;
    height: 448px;

    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.description {
    margin-top: 55px;
    padding: 30px;

    position: absolute;
    width: 794px;
    height: 443px;

    background: #26A02B;
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    white-space: break-spaces;

    color: #FFFFFF;
}

.utility {
    display: flex;
    justify-content: center;
}

.expanded {
    display: flex;
    justify-content: space-around;
}

.utilitySeller {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;
}

.utilityShop {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: right;

    color: #FFFFFF;
}

.backgroundBlock {
    margin-top: 30px;
    padding-top: 13px;

    width: 960px;
    height: 329px;

    background: #26A02B;
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.iconPush {
    position: absolute;

    margin-left: 127px;
    padding-top: 2px;

    width: 100px;
    height: 26px;

    background: #FF0000;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;

    color: #FFFFFF;
}

.titleBlock {
    margin-left: 505px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;

    text-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
}

.imgHouse {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;

    width: 307px;
    height: 254px;

    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

.select {
    width: 200px;
    position: relative;

    margin-top: 26px;
    margin-left: 350px;
}

.select.is-active .select__body{
    display: block;
}

.select__header {
    display: flex;
    cursor: pointer;

    background: #FFFFFF;
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

}

.select_current {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 50px;
    width: 68px;
    height: 33px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #000000;
}

.select__icon {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 3px;
}

.select__body {
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;

    list-style-type: none;

    background: #FFFFFF;
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

    overflow: hidden;
    width: 100%;

    z-index: 2;
}

.select__item {
    cursor: pointer;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

    color: #000000;

    padding: 10px 0;
}

.select__item:hover {
    background-color: #C2C2C2;
    transition: all 0.3s ease;
}